### HomeAssistant ###
# Files with personal details
*.crt
*.csr
*.key
.cloud/
.google.token
.uuid
.ip_authenticated.yaml
.spotify-token-cache
.storage/
icloud/
image/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db*
zigbee.db
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
zigbee2mqtt/database.db
zigbee.db*

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib

# Log files
home-assistant.log*
ozw_log.txt
aircast.xml
zigbee2mqtt/log/
zigbee2mqtt/state.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
